<div class = "hpTopBar">
  <div class = "hpHeader"></div>
</div>
<div class = "hpBody">
  <a href = "/signin/admin" class = "ghost-button">Enter as Admin</a>
  <a href = "/signin/patron" class = "ghost-button">Enter as Library Patron</a>
</div>