<p id="notice"><%= notice %></p>

<p linespacing="30"/p>

<h1><center>Welcome to our library</center></h1>

<h2>What would you like to do?</h2>

<br>

<%= link_to "Click here to view books currently available for checkout", '/available', :method => :get %>

<br>

<%= link_to "Click here to view complete list of books", '/full', :method => :get %>

<br>

<%= link_to "Click here to search books by ISBN", '/searchisbn', :method => :get %>

<br>






















