
<% if @book.errors.any? %>
    <div id="error_expl">
      <div class="alert alert-error">
        <b>The form contains <%= pluralize(@book.errors.count, "error") %>.</b>
      </div>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
            <li>*<%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>