
<div class = "hpTopBar">
  <h1 class = "hpHeader">the librarian</h1>
  <h3 style = "color:white; position:absolute; right: 10px">Welcome <%= @user.email %></h3>
</div>

<div class = "hpBody">
  <%= link_to "check out books", '/books', :method => :get, class:  "ghost-button"%>
</div>