
<div class = "hpTopBar">
  <h1 class = "hpHeader">the librarian</h1>
  <p style = "color:white; position:absolute; right: 10px">welcome <b><%= @user.email %></b></p>
</div>

<div class = "hpBody">
  <%= link_to "check out books", '/books', :method => :get, class:  "ghost-button"%>
</div>