<div class = "hpTopBar">
  <h1 class = "hpHeader">THe LibraRy</h1>
  <a href = "/login" class = "button loginButton">Login</a>
</div>
<div class = "formBody">
  <input class = "formInput" type = "email" placeholder = "your@email.com">
  <input class = "formInput" type = "password" placeholder = "password">
  <a href = "/signUpUser" class = "button signUpButton">Sign Up</a>
</div>