/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body
{
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
input:focus { outline: none; }
.hpTopBar
{
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    background: rgb(0, 0, 0);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 1px solid rgba(0,0,0,0.8);
}
.hpHeader
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 50px;
    color: rgb(255,255,255);
    left: 20px;
    font-size: 21px;
}

.hpBody
{
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    padding: 80px 0;
}

.ghost-button {
    display: block;
    width: 340px;
    padding: 10px;
    color: #9418ff;
    border: 1px solid #9418ff;
    text-align: center;
    outline: none;
    text-decoration: none;
    left: 0;
    right: 0;
    margin: 30px auto;
}
.ghost-button:hover,
.ghost-button:active,
.ghost-button:visited {
    background-color: rgba(85, 12, 255, 0.2);
    color: #9418ff;
}

.ghost-button {
    display: block;
    width: 340px;
    padding: 10px;
    color: #ff3b33;
    border: 1px solid #ff3b33;
    text-align: center;
    outline: none;
    text-decoration: none;
    left: 0;
    right: 0;
    margin: 30px auto;
}
.ghost-button:hover,
.ghost-button:visited {
    background: white;
    box-shadow: 0px 1px 1px 1px rgba(255, 59, 51, 0.2);
    -webkit-box-shadow: 0px 1px 1px 1px rgba(255, 59, 51, 0.2);
    color: #ff3b33;
}

.ghost-button:active {
    background: white;
    box-shadow: 0px 1px 1px 2px rgba(255, 59, 51, 0.2);
    -webkit-box-shadow: 0px 1px 1px 2px rgba(255, 59, 51, 0.2);
    color: #ff3b33;
}

.formBody {
    position: relative;
    width: 400px;
    background: rgba(239,239,239,.5);
    border: 1px solid rgba(239,239,239,.8);
    left: 0;
    right: 0;
    top: 150px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 60px;
    box-sizing: border-box;
}
.formHeader {
    padding-bottom: 15px;
    text-align: center;
    /*color: #5a5c60;*/
    color: #a80000;
}
.formInput {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: auto;
    display: block;
    font-size: 12px;
    height: 40px;
    letter-spacing: normal;
    line-height: 20px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out;
    width: 300px;
    word-spacing: 0px;
    margin: 0px auto 20px auto;
    left: 0;
    right: 0;
}
.formInput:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.field_with_errors {
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: transparent !important;
}
.field_with_errors>.formInput {
    border-color: #e93c2c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 19, 16, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 47, 33, 0.6);
}

.alert-error
{
    text-align: center;
}

#error_expl>ul
{
    list-style: none;
}

.flash
{
    font-size: 18px;
    color: dodgerblue;
    top: 80px;
    position: relative;
    text-align: center;
}

.button {
    position: absolute;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 36px;
    letter-spacing: normal;
    line-height: 22px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 150px;
    margin: auto;
    left: 0;
    right: 0;
    text-decoration: none;
    font-size: 12px;
}
.signUpButton {
    background-color: #1fab78;
    border-bottom-color: #198a61;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #198a61;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #198a61;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #198a61;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
}
.signUpButton:hover {
    color: #fff;
    background-color: #1c9375;
    border-color: #1c9375;
}

.loginButton {
    position: absolute;
    top: 10px;
    margin: 0 -120px;
    left: 100%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 12px;
    height: 30px;
    letter-spacing: normal;
    line-height: 17px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 80px;
    text-decoration: none;
    background-color: #267fdf;
    border-bottom-color: #165a99;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #165a99;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #165a99;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #165a99;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
}
.loginButton:visited
{
    color: #fff;
}
.loginButton:hover {
    background-color: #1368de;
    border-color: #0e4ea6;
}

.searchButton
{
    position: absolute;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 36px;
    letter-spacing: normal;
    line-height: 22px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 150px;
    margin: auto;
    left: 0;
    right: 0;
    text-decoration: none;
    font-size: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
}
.greenButton
{
    background-color: rgb(92, 184, 92);
    border-bottom-color: rgb(76, 174, 76);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(76, 174, 76);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(76, 174, 76);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(76, 174, 76);
}
.purpleButton
{
    background-color: #603fab;
    border-bottom-color: #603fab;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #603fab;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #603fab;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #603fab;
}

.seaGreenButton
{
    background-color: #3aab90;
    border-bottom-color: #3aab90;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #3aab90;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #3aab90;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #3aab90;
}

.blueButton
{
    background-color: #2061ab;
    border-bottom-color: #2061ab;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #2061ab;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #2061ab;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #2061ab;
}
.redButton
{
    background-color: #ab2335;
    border-bottom-color: #ab2335;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #ab2335;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #ab2335;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #ab2335;
}

.userName
{
    position:relative;
    margin:0 auto;
    text-align: center;
    font-weight: bold;
}

.userOptions
{
    color: white;
    position: relative;
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-decoration: none;
    border-left: 1px solid #DCDCDC;
    margin: 10px 0;
}
.userOptions:visited
{
    color:white;
    text-decoration:none;
}
.userOptions:hover
{
    color: #e1d6d9;
    border-left: 1px solid #e1d6d9;
    text-decoration:none;
}